<div class="template">This is coming from a {{view.name}} template</div>
<div class="helper">{{example-helper}}</div>
<div class="helper">{{partial example_partial}}</div>
<div class="helper">{{partial another-example}}</div>
<div class="styled">And it has all been styled (poorly) using {{view.css}}</div>